.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.list {
  padding: 20px;
}

table {
  margin: auto;
}

td, th {
  padding: 5px !important;
  border: solid 1px;
}

.refresh {
  margin-top:20px;
}

.alert {
  color: red;
}